*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
    backdrop-filter: blur(20px);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    padding: 10px 25px;
    height: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    border-radius: 30px;
    text-align: center;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button:hover{
    width: 62px;
    height: 62px;
}

.search button img{
    width: 20px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 45px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;

}

.weather{
    display: none;
}

.error{
    text-align: center;
    font-weight: 500;
     color: #ff4d4d;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: none;
    
}


@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s ease-in-out;
}


@media (max-width: 600px) {

  /* Container */
  .container {
    height: 100vh;
    padding: 10px;
  }

  /* Music player card */
  .music-player {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
  }

  /* Song image */
  .song-img {
    width: 180px;
    height: 180px;
  }

  /* Song title */
  .music-player h1 {
    font-size: 18px;
  }

  /* Artist name */
  .music-player p {
    font-size: 13px;
  }

  /* Progress bar */
  #progress {
    margin: 20px 0;
  }

  /* Time text */
  .time {
    font-size: 11px;
    margin-top: -5px;
  }

  /* Controls */
  .controls div {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  /* Play button bigger */
  .controls div:nth-child(2) {
    transform: scale(1.2);
  }

  /* Navbar icons */
  nav .circle {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

}
